<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/card.css">
<script type="text/javascript" src="/static/js/card.js" ></script>
<title>千字文</title>
</head>

<body>
<div class="headdiv">
	<text>速度(秒)</text>
	<input 	type="input" id="timegap" value="1"/>
	<button id = "cnbutton" onclick="startcn()"> 开始中文版</button>
	<button id = "enbutton" onclick="starten()"> 开始英文版</button>
	<button id = "enbutton" onclick="refresh()"> 停止</button>
</div>
<div >
<div class="video"> <div id="box"></div></div>
</div>
</body>

</html>